@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|ZCOOL+XiaoWei);
* {
  box-sizing: border-box;
  font-family: "ZCOOL XiaoWei", serif;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  /* background: #cce6fd; */
}
body {
  background-image: url("./img/ryoji-iwata-669950-unsplash.jpg");
  margin: 0;
}
